html
  height: 100%
  width: 100%

body
  font-family: 'Roboto', sans-serif
  font-size: 24px
  font-weight: 400
  line-height: 1.25
  color: $main-color
  height: 100%
  width: 100%

.main
  height: 100%
  width: 100%

a
  color: #ffffff
  &:hover
    text-decoration: none

.container
  position: relative
  max-width: 1280px
  height: 100%
  padding: $gut
  margin: 0 auto

// Background image
.bg
  &-img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    display: block
    object-fit: cover

// Social links
.social
  &__list
    padding: 0
    margin: 0
    list-style: none
    &_footer
      .social__list-item
        display: inline-block
        margin: 0 12.5px 0 12.5px
        
    &-item
      margin-bottom: 25px
    &-link
      color: #ffffff
    &-icon
      font-size: 30px

// Section
.section
  position: relative
  padding: 85px 0


// Section title
.section__title
  &-box
    text-align: center
  display: inline-block
  position: relative
  font-weight: 400
  font-size: 36px
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
  text-transform: uppercase
  &::before,
  &::after
    position: absolute
    display: block
    content: ''
    top: 50%
    left: -50px
    width: 35px
    height: 3px
    background-color: $main-color
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
  &::after
    left: calc(100% + 15px);
  &-hr
    width: 300px
    height: 1px
    border: none
    background-color: $main-color
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)

// Section title
.section__subtitle
  display: block
  font-size: 24px
  font-weight: 300
  text-transform: uppercase
  text-align: center

// Button
.button
  display: block
  max-width: 200px
  width: 100%
  margin: 0 auto
  font-size: 16px
  border: 3px solid $main-color
  border-radius: 25px
  padding: 10px 25px
  color: $main-color
  text-align: center
  text-transform: uppercase
  &_form
    background-color: #ACAEAF
    font-size: 20px
    font-weight: 300
    border: none
    border-radius: 15px
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)
    color: #ffffff