.header
  position: relative
  height: 100%
  overflow: hidden
  &__wrapper
    position: relative
    height: 100%
  &__nav
    position: absolute
    top: 0
    right: 0
    z-index: 1
    overflow: hidden
  &__menu
    display: inline-block
    margin: 0
    list-style: none
    background-color: rgba(37, 37, 37, .45)
    text-align: center
    padding: 5px 25px
    &-item
      padding: 0 40px
      position: relative
      display: inline-block
      vertical-align: middle
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
      &:not(:last-child)
        &::after
          position: absolute
          display: block
          content: ''
          width: 2px
          height: 21px
          top: 50%
          transform: translateY(-50%)
          right: 0
          background-color: #fff
          box-shadow: 0 4px 4px rgba(0,0,0,.25)
    &-link
      display: inline-block
      font-size: 24px
      font-weight: 400
      font-family: 'RobotoCondensed', sans-serif
      padding: 5px
      color: #ffffff
      text-transform: uppercase
      text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.75)
      transition: all .3s ease
      overflow-x: hidden
      position: relative
      line-height: 24px
      vertical-align: middle
      &:before, &:after
        content: ''
        position: absolute
        transition: transform .5s ease
        left: 0
        width: 100%
        height: 2px
        background: #fff
      &:before
        bottom: 0
        transform:  translateX(-101%)
      &:after 
        top: 0
        transform:  translateX(101%)
      &:hover:before, &:hover:after
        transform:  translateX(0)
      &:hover
        text-decoration: none
        color: #ffffff  
      &:last-child
        padding-right: 0
  &__social
    position: absolute
    top: 45px
    left: 0
    z-index: 1
  &__content
    display: flex
    justify-content: center
    align-items: center
    position: relative
    height: 100%
    &-shadow
      position: absolute
      max-width: 350px
      min-height: 350px
      box-shadow: inset 0 0 400px 90px rgba(0,0,0,.3), 0 0 160px 130px rgba(0,0,0,.3)
      border-radius: 50%
      z-index: 0
    &-wrapper
      min-height: 600px
      max-width: 650px
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &-info
      text-align: center
      z-index: 1
  &__photo
    z-index: 1
    &-img
      display: block
      max-width: 186px
      width: 100%
      max-height: 186px
      height: 100%
      border: 3px solid #ffffff
      border-radius: 50%
      object-fit: cover
      object-position: center
      background: rgb(51,48,52)
      background: linear-gradient(360deg, rgba(51,48,52,1) 0%, rgba(151,147,156,1) 100%)
      margin-bottom: 50px
  &__title,
  &__subtitle
    display: block
    font-family: 'RobotoCondensed', sans-serif
    color: #ffffff
    font-weight: 400
    line-height: 1
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3)
  &__title
    position: relative
    font-size: 72px
    margin-bottom: 40px
    &::before,
    &::after
      position: absolute
      display: block
      content: ''
      width: 435px
      height: 3px
      background-color: #ffffff
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55)
    &::before
      top: -15px
      left: 3%
    &::after
      bottom: -25px
      right: 3%
  &__subtitle
    font-size: 40px
    padding-left: 100px

